body {
  background-color: whitesmoke;
  color: #002e2c;
  /* padding: 40px; */
  font-family: Arial;
  /* text-align: center; */
}

/*Header */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.content {
  padding: 16px;
}
.sticky + .content {
  padding-top: 102px;
}

.nav-links {
  min-height: 10vh;
  background: #80c078;
  text-decoration: none;
}

li {
  color: #f0eff4;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

/*Search Section*/
.search-button {
  /* display: inline-block; */
  float: right;
}

.search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.store-title {
  color: #ffe66d;
  font-family: "Prata", serif;
}

.input-text {
  float: left;
}

.store-title {
  text-align: center;
}
